aioredis
aiogram
aiohttp
aiolimiter
appdirs
async-timeout
atomicwrites
attrs
babel
beanie
bech32
bip32utils
black
certifi
chardet
click
colorama
coverage
ecdsa
flake8
idna
isort
mccabe
terra-sdk
toml
ujson
python-dotenv